#colorlib-intro .nav-tabs {
  background: rgba(255, 255, 255, 0.5);
}

.bg-grey {
  background-color: #f5f5f5;
}

.btn-xs {
  font-size: 12px;
  padding: 6px 11px;
}

.colorlib-heading2 {
  font-size: 1.3rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.about-flex .staff-img .desc-staff {
  background: -webkit-linear-gradient(45deg, rgba(33, 37, 41, 0.88) 0%, rgba(221, 24, 24, 0.8) 100%);
  background: -o-linear-gradient(45deg, rgba(33, 37, 41, 0.88) 0%, rgba(221, 24, 24, 0.8) 100%);
  background: linear-gradient(45deg, rgba(33, 37, 41, 0.88) 0%, rgba(221, 24, 24, 0.8) 100%);
}

.colorlib-nav ul li a {
  color: #111;
}

.colorlib-nav ul li.active > a,
.colorlib-nav ul li a:hover {
  color: #fff !important;
}

a {
  color: #d9534f;
}

a:hover, a:active, a:focus {
  color: #111;
}

.services .icon i,
.colorlib-social-icons li a {
  color: #d9534f;
}

.gototop a {
  background-color: rgba(0, 0, 0, 0.3);
}

#colorlib-footer .copy {
  background-color: #d9534f;
}

#colorlib-footer .copy small {
  color: #fff;
}

#colorlib-hero .flexslider .flex-control-nav li a.flex-active {
  background: #d9534f;
}

#colorlib-footer .contact-information {
  margin-bottom: 2em;
}

.aside-stretch {
  background: #dc3545;
}

.colorlib-counters .icon i {
  background: #dc3545;
}

.colorlib-counters .icon-white i {
  background: #fff;
  color: #dc3545;
}

.aside-stretch:after {
  background: #dc3545;
}
/*# sourceMappingURL=main.css.map */