@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: gray;
  background: whitesmoke; }

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

a {
  color: #F7B633;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #F7B633;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0; }

::-webkit-selection {
  color: #fff;
  background: #F7B633; }

::-moz-selection {
  color: #fff;
  background: #F7B633; }

::selection {
  color: #fff;
  background: #F7B633; }

.colorlib-nav {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .colorlib-nav {
      margin: 0; } }
  .colorlib-nav .top-menu {
    padding: 40px 30px; }
    @media screen and (max-width: 768px) {
      .colorlib-nav .top-menu {
        padding: 28px 1em; } }
  .colorlib-nav #colorlib-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700; }
    .colorlib-nav #colorlib-logo a {
      position: relative;
      color: #fff; }
  @media screen and (max-width: 768px) {
    .colorlib-nav .menu-1 {
      display: none; } }
  .colorlib-nav ul {
    padding: 0;
    margin: 8px 0 0 0; }
    .colorlib-nav ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 400; }
      .colorlib-nav ul li a {
        position: relative;
        font-size: 15px;
        padding: 30px 12px;
        color: rgba(255, 255, 255, 0.7);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .colorlib-nav ul li a:hover {
          color: #F7B633; }
      .colorlib-nav ul li.has-dropdown {
        position: relative; }
        .colorlib-nav ul li.has-dropdown .dropdown {
          width: 140px;
          -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          z-index: 1002;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 40px;
          left: 0;
          text-align: left;
          background: #000;
          padding: 20px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: 0s;
          -o-transition: 0s;
          transition: 0s; }
          .colorlib-nav ul li.has-dropdown .dropdown:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #000;
            border-width: 8px;
            margin-left: -8px; }
          .colorlib-nav ul li.has-dropdown .dropdown li {
            display: block;
            margin-bottom: 7px; }
            .colorlib-nav ul li.has-dropdown .dropdown li:last-child {
              margin-bottom: 0; }
            .colorlib-nav ul li.has-dropdown .dropdown li a {
              padding: 2px 0;
              display: block;
              color: #999999;
              line-height: 1.2;
              text-transform: none;
              font-size: 13px;
              letter-spacing: 0; }
              .colorlib-nav ul li.has-dropdown .dropdown li a:hover {
                color: #fff; }
        .colorlib-nav ul li.has-dropdown:hover a, .colorlib-nav ul li.has-dropdown:focus a {
          color: #F7B633; }
      .colorlib-nav ul li.btn-cta a {
        padding: 30px 0px !important;
        color: #fff; }
        .colorlib-nav ul li.btn-cta a span {
          background: #f7b633;
          padding: 4px 10px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px; }
        .colorlib-nav ul li.btn-cta a:hover span {
          -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75); }
      .colorlib-nav ul li.active > a {
        color: #F7B633 !important;
        position: relative; }
        .colorlib-nav ul li.active > a:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

#colorlib-counter,
.colorlib-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }

.colorlib-video {
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .colorlib-video {
      height: 450px; } }
  .colorlib-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .colorlib-video a i {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
      color: #F7B633; }
  .colorlib-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .colorlib-video:hover .overlay {
    background: rgba(0, 0, 0, 0.7); }
  .colorlib-video:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

#colorlib-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left; }
  #colorlib-hero .btn {
    font-size: 24px; }
    #colorlib-hero .btn.btn-primary {
      padding: 14px 30px !important; }
  #colorlib-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #colorlib-hero .flexslider .slides {
      position: relative;
      overflow: hidden; }
      #colorlib-hero .flexslider .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 650px;
        position: relative; }
        #colorlib-hero .flexslider .slides li .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: .8;
          background: #00b7ea;
          /* Old browsers */
          background: -moz-linear-gradient(45deg, #212529 0%, #dd1818 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, #212529 0%, #dd1818 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: -o-linear-gradient(45deg, #212529 0%, #dd1818 100%);
          background: linear-gradient(45deg, #212529 0%, #dd1818 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43DDE6', endColorstr='#9870FC',GradientType=1 );
          /* IE6-9 fallback on horizontal gradient */ }
    #colorlib-hero .flexslider .flex-control-nav {
      bottom: 7em;
      z-index: 1000;
      width: 0 auto; }
      #colorlib-hero .flexslider .flex-control-nav li a {
        background: rgba(255, 255, 255, 0.2);
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: pointer; }
        #colorlib-hero .flexslider .flex-control-nav li a.flex-active {
          cursor: pointer;
          background: transparent;
          background: #F7B633; }
    #colorlib-hero .flexslider .flex-direction-nav {
      display: none; }
    #colorlib-hero .flexslider .slider-text {
      max-width: 100%;
      display: table;
      opacity: 0;
      height: 700px;
      z-index: 9; }
      #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 700px;
        padding: 2em; }
        @media screen and (max-width: 768px) {
          #colorlib-hero .flexslider .slider-text > .slider-text-inner {
            text-align: center; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner span i {
          font-size: 24px;
          color: #F7AF1D; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h1, #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color: white; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 30px;
          font-size: 50px;
          line-height: 1.3;
          font-weight: 300; }
          @media screen and (max-width: 768px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 28px; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 22px;
          line-height: 1.5;
          margin-bottom: 20px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.7); }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: white; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner .heading-section {
          font-size: 50px; }
          @media screen and (max-width: 768px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner .heading-section {
              font-size: 30px; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner s
.colorlib-lead {
          font-size: 20px;
          color: #F7B633; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner s
.colorlib-lead .icon-heart {
            color: #d9534f; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          padding: 20px 30px !important;
          border: none; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
            background: #F7B633;
            color: #fff; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
            background: #000 !important; }
          @media screen and (max-width: 480px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
              width: 100%; } }

.colorlib-light-grey {
  background: #fafafa; }

#colorlib-about,
#colorlib-services,
#colorlib-contact,
#colorlib-testimony,
#colorlib-blog,
#colorlib-project,
#colorlib-subscribe {
  padding: 7em 0;
  clear: both; }

#colorlib-intro {
  clear: both; }
  #colorlib-intro .tabulation {
    margin-top: -6.8em;
    z-index: 1; }
  #colorlib-intro .tab-content {
    padding: 3em 2em !important;
    background: #fff; }
  #colorlib-intro .nav-tabs {
    margin: 0 !important;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%; }
    #colorlib-intro .nav-tabs li {
      width: 25%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap; }
      @media screen and (max-width: 768px) {
        #colorlib-intro .nav-tabs li {
          font-size: 10px; } }
      #colorlib-intro .nav-tabs li a {
        width: 100%;
        margin: 0;
        border: none;
        padding: 2.7em 1em !important;
        background: rgba(255, 255, 255, 0.5);
        color: #4d4d4d;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        #colorlib-intro .nav-tabs li a i {
          font-size: 18px; }
          @media screen and (max-width: 768px) {
            #colorlib-intro .nav-tabs li a i {
              display: block; } }
      #colorlib-intro .nav-tabs li.active {
        border-bottom: 1px solid #fff; }
        #colorlib-intro .nav-tabs li.active a {
          color: #000;
          border: none;
          background: #fff;
          bottom: 0 !important; }

.services-img {
  height: 320px;
  display: block; }
  @media screen and (max-width: 768px) {
    .services-img {
      margin-bottom: 20px; } }

.services-desc {
  padding: 0 1em; }
  @media screen and (max-width: 768px) {
    .services-desc {
      padding: 0; } }
  .services-desc ul li {
    list-style: none;
    margin-bottom: 10px; }

.services {
  margin-bottom: 30px;
  position: relative;
  background: #fff; }
  .services .icon {
    line-height: 64px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0; }
    .services .icon i {
      font-size: 40px;
      color: #F7B633; }
  .services .desc {
    padding: 90px 20px 20px 20px; }
    .services .desc h3 {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase; }

.bg-primary-color {
  background: #F7B633; }
  .bg-primary-color p {
    color: #fff !important; }

.thumb-img,
.insta-img,
.staff-img,
.blog-img,
.colorlib-about-img,
.services-img,
.project-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.aside-stretch {
  background: #F7B633; }
  .aside-stretch:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #F7B633; }
  @media screen and (max-width: 768px) {
    .aside-stretch {
      background: transparent; }
      .aside-stretch:after {
        background: transparent; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.project-entry {
  display: block;
  background: #fff;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .project-entry .project-img {
    width: 100%;
    height: 350px;
    display: table;
    position: relative;
    z-index: 0; }
    .project-entry .project-img:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      -webkit-transition: 0.9s;
      -o-transition: 0.9s;
      transition: 0.9s;
      z-index: -1; }
    .project-entry .project-img .icon {
      display: table-cell;
      vertical-align: middle;
      z-index: 1;
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .project-entry .project-img .icon i {
        color: #fff; }
  .project-entry .desc {
    padding: 2.5em 2em;
    display: block; }
    .project-entry .desc h3 {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0; }
      .project-entry .desc h3 a {
        color: #000; }
  .project-entry:hover {
    top: -1px;
    -webkit-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 12px 62px -13px rgba(0, 0, 0, 0.11); }
    .project-entry:hover .project-img:after {
      opacity: 1; }
    .project-entry:hover .project-img .icon {
      opacity: 1; }

.project-single {
  margin-bottom: 30px; }

.thumb-wrap {
  display: block;
  width: 100%;
  float: left; }
  .thumb-wrap .thumb-img {
    width: 100%;
    display: block;
    height: 150px;
    margin-bottom: 30px; }

.project-single-desc {
  width: 100%;
  float: left;
  padding: 3em;
  background: #fff;
  margin-bottom: 1em; }
  .project-single-desc h2 {
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500; }
  .project-single-desc .list {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0; }
    .project-single-desc .list li {
      list-style: none;
      width: 100%;
      display: block;
      margin-bottom: 20px; }
      .project-single-desc .list li .title {
        font-weight: 500;
        color: #000;
        width: 50%;
        float: left; }

.downloadreport {
  width: 100%;
  float: left;
  font-size: 16px;
  font-weight: 500; }
  .downloadreport a {
    width: 100%;
    float: left;
    padding: 3em 2em;
    background: #fff; }
    .downloadreport a:hover {
      background: #F7B633;
      color: #fff; }

#colorlib-testimony {
  background: #fff; }
  #colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    background: transparent;
    padding: 5px 5px;
    opacity: 1; }
    #colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
      background: transparent;
      color: #000;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      font-size: 20px; }
  #colorlib-testimony .testimony-slide {
    display: block;
    position: relative;
    height: auto;
    width: 100%; }
    #colorlib-testimony .testimony-slide span {
      font-size: 18px;
      font-weight: 400;
      display: block;
      color: #000;
      margin-bottom: 20px; }
    #colorlib-testimony .testimony-slide figure {
      display: block;
      width: 100%;
      position: absolute;
      top: -70px;
      left: 0;
      right: 0; }
      #colorlib-testimony .testimony-slide figure img {
        width: 140px;
        margin: 0 auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
    #colorlib-testimony .testimony-slide blockquote {
      border: none;
      margin: 0 auto;
      width: 100%;
      position: relative;
      padding: 3em 0 0 0;
      color: #000; }
      #colorlib-testimony .testimony-slide blockquote p {
        font-size: 14px; }
  #colorlib-testimony .testimony-wrap {
    padding: 3em;
    width: 100%;
    float: left; }
  #colorlib-testimony .owl-stage-outer {
    padding-top: 6em; }

#colorlib-counter {
  position: relative; }

.counter-entry {
  padding: 7em 0; }
  @media screen and (max-width: 768px) {
    .counter-entry {
      padding: 4em 0; } }

.colorlib-counters {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }
  .colorlib-counters .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); }
  .colorlib-counters .icon {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px; }
    .colorlib-counters .icon i {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      font-size: 50px;
      color: #fff;
      background: #F7B633;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .colorlib-counters .icon-white i {
    background: #fff;
    color: #F7B633; }
    @media screen and (max-width: 768px) {
      .colorlib-counters .icon-white i {
        background: #F7B633;
        color: #fff; } }
  .colorlib-counters .colorlib-counter {
    font-size: 40px;
    display: block;
    color: white;
    font-family: "Poppins", Arial, sans-serif;
    width: 100%;
    font-weight: 500;
    margin-bottom: .3em; }
  .colorlib-counters .colorlib-counter-label {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    display: block; }

article {
  margin-bottom: 3em; }
  article .blog-img {
    width: 100%;
    display: block;
    height: 300px;
    display: table;
    position: relative;
    z-index: 0; }
    article .blog-img:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: rgba(0, 0, 0, 0.4);
      opacity: 0;
      -webkit-transition: 0.9s;
      -o-transition: 0.9s;
      transition: 0.9s;
      z-index: -1; }
    article .blog-img .icon {
      display: table-cell;
      vertical-align: middle;
      z-index: 1;
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      article .blog-img .icon i {
        color: #fff; }
  article:hover .blog-img:after {
    opacity: 1; }
  article:hover .icon {
    opacity: 1; }
  article .entry {
    width: 100%;
    margin-top: 0;
    z-index: 1;
    background: #fff;
    padding: 2em;
    position: relative; }
    article .entry h2 {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.7; }
      article .entry h2 a {
        color: #000; }
        article .entry h2 a:hover {
          color: #F7B633; }
    article .entry .meta-2 {
      color: #b3b3b3; }
      article .entry .meta-2 span {
        margin-right: 10px; }
        article .entry .meta-2 span i {
          color: #666666; }

.about-wrap {
  width: 100%;
  float: left;
  padding-bottom: 0; }
  @media screen and (max-width: 768px) {
    .about-wrap {
      padding-bottom: 3em; } }

#colorlib-about {
  position: relative;
  z-index: 0;
  width: 100%;
  display: inline-block; }
  #colorlib-about .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  #colorlib-about .colorlib-heading2 h2 {
    color: #fff; }
  #colorlib-about .colorlib-heading2 p {
    color: rgba(255, 255, 255, 0.7); }

.colorlib-about-img {
  height: 603px; }

.about-flex {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap; }
  .about-flex .col-half {
    width: 50%;
    float: left; }
    @media screen and (max-width: 768px) {
      .about-flex .col-half {
        width: 100%; } }
    .about-flex .col-half:last-child {
      background: #fff; }
  .about-flex .staff-img {
    float: left;
    width: 50%;
    height: 300px;
    position: relative;
    display: table; }
    @media screen and (max-width: 768px) {
      .about-flex .staff-img {
        height: 200px; } }
    .about-flex .staff-img .desc-staff {
      background: #F7B633;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      opacity: 0; }
      .about-flex .staff-img .desc-staff h3 {
        color: #fff; }
      .about-flex .staff-img .desc-staff span {
        color: #fff; }
    .about-flex .staff-img:hover .desc-staff {
      opacity: 1; }
  .about-flex .desc {
    padding: 4em;
    display: block; }
    @media screen and (max-width: 768px) {
      .about-flex .desc {
        padding: 1.5em; } }

.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0; }

.panel-heading a {
  padding: 15px 25px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #F7B633;
  color: #fff;
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none; }

.panel-heading a:after {
  font-family: "icomoon";
  content: "\e115";
  position: absolute;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  top: 50%;
  line-height: 1;
  margin-top: -5px; }

.panel-heading a.collapsed:after {
  content: "\e114"; }

.panel-heading a.collapsed {
  background: #fafafa;
  border: 1px solid #e6e6e6 !important;
  color: #333333; }

.panel-body {
  padding: 1.5em;
  margin-top: 5px;
  border: 1px solid #e6e6e6 !important; }

.about-desc h3 {
  font-weight: 500; }

.staff-img2 {
  float: left;
  width: 100%;
  height: 300px;
  position: relative;
  display: table; }
  @media screen and (max-width: 768px) {
    .staff-img2 {
      margin-bottom: 30px; } }
  .staff-img2 .desc-staff {
    background: #F7B633;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0; }
    .staff-img2 .desc-staff h3 {
      color: #fff; }
    .staff-img2 .desc-staff span {
      color: #fff; }
  .staff-img2:hover .desc-staff {
    opacity: 1; }

.contact-info-wrap-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3em; }
  .contact-info-wrap-flex .con-info {
    width: 24%;
    background: #fff;
    padding: 1.5em;
    margin-left: 10px; }
    .contact-info-wrap-flex .con-info:first-child {
      margin-left: 0; }
    @media screen and (max-width: 768px) {
      .contact-info-wrap-flex .con-info {
        width: 100%;
        margin: 4px !important; } }
  .contact-info-wrap-flex p {
    margin-bottom: 0;
    color: #000; }
    .contact-info-wrap-flex p a {
      color: #000; }

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 16px !important;
  font-weight: 300;
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.8); }

input[type="text"] {
  height: 50px; }

.form-group {
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .form-group #fname {
      margin-bottom: 30px; } }
  .form-group label {
    font-weight: 400; }
  .form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px; }

.colorlib-social-icons {
  margin: 0;
  padding: 0; }
  .colorlib-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .colorlib-social-icons li a {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      color: #F7B633;
      padding-left: 10px;
      padding-right: 10px; }
      .colorlib-social-icons li a i {
        font-size: 20px; }

.colorlib-heading {
  margin-bottom: 5em; }
  .colorlib-heading h2 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase; }

#colorlib-subscribe {
  background: #ededed;
  padding: 5em 0; }
  #colorlib-subscribe .colorlib-heading {
    margin-bottom: 20px; }
    #colorlib-subscribe .colorlib-heading p {
      font-size: 18px; }

.qbstp-header-subscribe {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  padding: 0; }
  .qbstp-header-subscribe .col-three-forth {
    width: 70%; }
  .qbstp-header-subscribe .col-one-third {
    width: 30%; }
  .qbstp-header-subscribe .col-three-forth, .qbstp-header-subscribe .col-one-third {
    display: table;
    height: 50px;
    float: left; }
    @media screen and (max-width: 768px) {
      .qbstp-header-subscribe .col-three-forth, .qbstp-header-subscribe .col-one-third {
        width: 50%; } }
  .qbstp-header-subscribe .form-control {
    background: transparent; }
  .qbstp-header-subscribe .form-group {
    position: relative;
    width: 100%;
    display: table-cell;
    vertical-align: middle; }
    @media screen and (max-width: 480px) {
      .qbstp-header-subscribe .form-group {
        width: 100%; } }
    .qbstp-header-subscribe .form-group input::-webkit-input-placeholder {
      color: #333333; }
    .qbstp-header-subscribe .form-group input::-moz-input-placeholder {
      color: #333333; }
    .qbstp-header-subscribe .form-group input::-ms-input-placeholder {
      color: #333333; }
    .qbstp-header-subscribe .form-group input::-o-input-placeholder {
      color: #333333; }
    .qbstp-header-subscribe .form-group input::input-placeholder {
      color: #333333; }
  .qbstp-header-subscribe #email {
    font-size: 14px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #333333 !important; }
  .qbstp-header-subscribe button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background: #F7B633;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    display: block; }

.instagram .insta-img {
  height: 80px;
  display: block;
  width: 33.3333%;
  float: left; }

#colorlib-footer {
  background: #25282a;
  color: rgba(255, 255, 255, 0.6) !important; }
  #colorlib-footer .contact-information {
    background: #1E2022;
    padding: 1.5em 0;
    margin-bottom: 5em; }
    #colorlib-footer .contact-information .info-wrap .icon {
      display: block;
      margin-bottom: 10px; }
      #colorlib-footer .contact-information .info-wrap .icon i {
        color: #fff;
        font-size: 20px; }
    #colorlib-footer .contact-information .info-wrap p {
      font-size: 13px; }
    #colorlib-footer .contact-information .info-wrap a {
      color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    #colorlib-footer .colorlib-widget {
      margin-bottom: 40px;
      width: 100%;
      float: left; } }
  #colorlib-footer .colorlib-footer-links {
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      #colorlib-footer .colorlib-footer-links {
        margin-bottom: 30px; } }
    #colorlib-footer .colorlib-footer-links li {
      padding: 0;
      margin: 0 0 10px 0;
      list-style: none;
      display: block; }
      #colorlib-footer .colorlib-footer-links li span {
        display: block;
        font-size: 13px; }
      #colorlib-footer .colorlib-footer-links li a {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none; }
        #colorlib-footer .colorlib-footer-links li a i {
          padding-right: 10px;
          color: #F7B633; }
        #colorlib-footer .colorlib-footer-links li a:hover {
          text-decoration: underline; }
  #colorlib-footer .colorlib-social-icons li a {
    padding-left: 10px;
    padding-right: 10px; }
    #colorlib-footer .colorlib-social-icons li a:first-child {
      padding-left: 0; }
  #colorlib-footer h4 {
    margin-bottom: 30px;
    font-size: 13px;
    color: #e6e6e6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700; }
  #colorlib-footer .copy {
    background: #F7B633;
    padding: 1.2em 0; }
    #colorlib-footer .copy p {
      margin-bottom: 0;
      color: #000; }
      #colorlib-footer .copy p small a {
        color: rgba(0, 0, 0, 0.7); }

#map {
  width: 100%;
  height: 500px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px; } }

#colorlib-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    #colorlib-offcanvas {
      display: block; } }
  .offcanvas #colorlib-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  #colorlib-offcanvas a {
    color: rgba(255, 255, 255, 0.5); }
    #colorlib-offcanvas a:hover {
      color: rgba(255, 255, 255, 0.8); }
  #colorlib-offcanvas ul {
    padding: 0;
    margin: 0; }
    #colorlib-offcanvas ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      #colorlib-offcanvas ul li > ul {
        padding-left: 20px;
        display: none; }
      #colorlib-offcanvas ul li.offcanvas-has-dropdown > a {
        display: block;
        position: relative; }
        #colorlib-offcanvas ul li.offcanvas-has-dropdown > a:after {
          position: absolute;
          right: 0px;
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e0c5";
          font-size: 20px;
          color: rgba(255, 255, 255, 0.2);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
      #colorlib-offcanvas ul li.offcanvas-has-dropdown.active a:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #f7b633;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .gototop a i {
      height: 50px;
      display: table-cell;
      vertical-align: middle; }
    .gototop a:hover, .gototop a:active, .gototop a:focus {
      text-decoration: none;
      outline: none; }

.colorlib-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 1.6em !important; }
  .colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
    background: #444; }
  .colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .colorlib-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left: 0;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out; }
  .colorlib-nav-toggle.colorlib-nav-white > i {
    color: #fff;
    background: #fff; }
    .colorlib-nav-toggle.colorlib-nav-white > i::before, .colorlib-nav-toggle.colorlib-nav-white > i::after {
      background: #fff; }

.colorlib-nav-toggle i::before {
  top: -7px; }

.colorlib-nav-toggle i::after {
  bottom: -7px; }

.colorlib-nav-toggle:hover i::before {
  top: -10px; }

.colorlib-nav-toggle:hover i::after {
  bottom: -10px; }

.colorlib-nav-toggle.active i {
  background: transparent; }

.colorlib-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff; }

.colorlib-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff; }

.colorlib-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important; }
  @media screen and (max-width: 768px) {
    .colorlib-nav-toggle {
      display: block; } }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #F7B633;
  color: #fff;
  border: 2px solid #F7B633; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #f8bf4c !important;
    border-color: #f8bf4c !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #F7B633;
    border: 2px solid #F7B633; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #F7B633;
      color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important; }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c; }
    .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
      background: #5cb85c;
      color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important; }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
    .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
      background: #5bc0de;
      color: #fff; }

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important; }
  .btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e; }
    .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
      background: #f0ad4e;
      color: #fff; }

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important; }
  .btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f; }
    .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
      background: #d9534f;
      color: #fff; }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .btn.with-arrow:hover {
    padding-right: 50px; }
    .btn.with-arrow:hover i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1; }

.row-pb-lg {
  padding-bottom: 7em !important; }

.row-pb-md {
  padding-bottom: 5em !important; }

.row-pb-sm {
  padding-bottom: 2em !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.colorlib-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff; }

.js .animate-box {
  opacity: 0; }
