#sidebar {
    width: 228px;
}

.is-sidebar-nav-open #sidebar {
    margin-left: -227px;
}

.action-col {
    text-align: center;
}

.nav-pills {

    .nav-link.active,
    .nav-pills .show>.nav-link {

        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;

        .pill-primary {
            color: #004085;
            background-color: #333;
            border-color: #b8daff;
        }

    }

}

.divider {
    width: 100%;
    border: rgba(255, 108, 96, 0.12941176470588237) dashed 1px;
    margin: 5px 4px;
}

.accord1 {

    padding-top: 0;
    padding-bottom: 0;

    .btn-link {
        text-decoration: none;
    }

}

[data-toggle="collapse"] .fa:before {
    content: "\f068";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f067";
}

// TGC table 

.table {
    &.table-small-text {
        font-size: .9em !important;
    }

    &.tgc {

        thead th {
            color: #0c5460;
            background-color: #d1ecf1;
        }

        .sub-a {
            color: #856404;
            background-color: rgba(255, 243, 205, 0.41);
            border-color: #ffeeba;
            text-align: right;
        }

        tbody>tr>td {
            padding: 7px;
        }

        .sub-b {
            border: dashed 1px rgba(108, 117, 125, 0.09);

        }

        .divider1 {
            border-top: solid 2px solid rgba(255, 243, 205, 0.41);
        }

        .sub-c {
            text-align: right;
            font-weight: 700;
            border-bottom: dashed 1px rgba(108, 117, 125, 0.09);
        }

        .sub-c2 {
            text-align: left;
            border-bottom: dashed 1.5px #f8d7da;
        }

        .col-item {
            font-weight: 700;
            text-align: center;
        }

    }

    &.bg-1 {

        thead th {
            color: rgba(0, 64, 133, 0.72);
            background-color: rgba(204, 229, 255, 0.44);
            border-color: #b8daff;
        }
    }

    &.bg-2 {

        thead th {
            color: #0c5460;
            background-color: #d1ecf1;
            border-color: #bee5eb;
        }
    }

    &.bg-3 {

        thead th {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }

        td {
            background-color: rgba(212, 237, 218, 0.10);
        }
    }

    &.bg-4 {

        thead th {
            color: #856404;
            background-color: #fff3cd;

        }


    }


}

#import-msg,
#btn-mod-ok {
    display: none;
}

.modal-body .i-circle {
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
    line-height: 105px;
}

.modal-body .i-circle .icon {
    font-size: 45px;
}

// form element css
.bg-info2 {
    border-top: solid 2px #ccc;
}

.bg-info3 {
    border-bottom: dashed 1px rgba(0, 0, 0, 0.25);
}

.fulltime {
    background-color: rgba(209, 236, 241, 0.27);
    color: #0c5460;
}

.partime {
    background-color: rgba(255, 193, 7, 0.08);
    color: #856404;
}

// form 
input,
textarea {
    &.custom-field {
        border: solid .5px rgba(0, 0, 0, 0.07);
    }
}

// xs button 
.btn-group-xs>.btn,
.btn-xs {
    padding: .15rem .5rem;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: .2rem;
}

// customize the ugly checkbox

/*--------------Tasks Widget--------------*/

.task-content {
    margin-bottom: 30px;
}

.tasks-widget .task-content:after {
    clear: both;
}

.tasks-widget .task-footer {
    margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
    content: "";
    display: table;
    line-height: 0;
}

.tasks-widget .task-footer:after {
    clear: both;
}

.tasks-widget .task-list {
    padding: 0;
    margin: 0;
}

.tasks-widget .task-list>li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;
}

.tasks-widget .task-list li.last-line {
    border-bottom: none;
}

.tasks-widget .task-list li>.task-bell {
    margin-left: 10px;
}

.tasks-widget .task-list li>.task-checkbox {
    float: left;
    width: 30px;
}

.tasks-widget .task-list li>.task-title {
    overflow: hidden;
    margin-right: 10px;
}

.tasks-widget .task-list li>.task-config {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tasks-widget .task-list li .task-title .task-title-sp {
    margin-right: 5px;
}

.tasks-widget .task-list li.task-done .task-title-sp {
    text-decoration: line-through;
    color: #bbbbbb;
}

.tasks-widget .task-list li.task-done {
    background: #f6f6f6;
}

.tasks-widget .task-list li.task-done:hover {
    background: #f4f4f4;
}

.tasks-widget .task-list li:hover {
    background: #f9f9f9;
}

.tasks-widget .task-list li .task-config {
    display: none;
}

.tasks-widget .task-list li:hover>.task-config {
    display: block;
    margin-bottom: 0 !important;
}


@media only screen and (max-width: 320px) {

    .tasks-widget .task-config-btn {
        float: inherit;
        display: block;
    }

    .tasks-widget .task-list-projects li>.label {
        margin-bottom: 5px;
    }

}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0.5;
}


//   tabs 
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #41cac0;
    border-color: #41cac0 #41cac0 #41cac0;
}

.nav-tabs {
    border-bottom: 3px solid #41cac0;
}


// mapping table TGC-PLO
.main-cell {
    background-color: #41cac0;
    border-color: #41cac0;
    color: #FFFFFF;
}

.tgc-cell {
    background-color: #78CD51;
    border-color: #78CD51;
    color: #FFFFFF;
    text-align: center;
}

.tgc-cell-2 {
    background-color: #78cd5170;
    border-color: #78CD51;
    color: #155724;
    text-align: center;

}

.plo-no-cell {
    color: #0a9db6;
    background: #bee5eb;
    text-align: center;
}

.plo-count-cell {
    text-align: center;
    background-color: rgba(5, 164, 223, 0.5882352941176471);
    border-color: #58c9f3;
    color: rgba(255, 255, 255, 0.7411764705882353);

}

.tgc-count-cell {
    text-align: right;
    background-color: rgba(110, 14, 155, 0.47);
    color: rgba(255, 255, 255, 0.86);
}

// &.plo-cell{}
.count-cell {
    text-align: center;
    color: #333;
    background: rgba(241, 242, 247, 0.66);

}

.empty-cell {
    background: linear-gradient(90deg, rgba(209, 236, 241, 0.27) 4.5px, transparent 1%) center, linear-gradient(rgba(209, 236, 241, 0.27) 4.5px, transparent 1%) center, rgba(0, 0, 0, 0.1);
    background-size: 5px 5px;
}

.btn-outline-warning.plo:hover {
    color: #fff !important;
}

.btn-light {
    &.add-to-table {
        font-weight: 400;
        color: #28a745 !important;
        text-decoration: none;
    }

    &.sub-from-table {
        font-weight: 400;
        color: #ff6c60 !important;
        text-decoration: none;

    }
}

// -------------outline-btn for primary
.btn-outline-primary {
    color: #41cac0;
    border-color: #41cac0;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #41cac0;
    border-color: #41cac0;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #41cac0;
    border-color: #41cac0;
}

.btn-outline-purple {
    color: #8075c4;
    border-color: #8075c4;
}

.btn-outline-purple:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #8075c4;
    border-color: #8075c4;
}

.btn-outline-purple:hover {
    color: #fff;
    background-color: #8075c4;
    border-color: #8075c4;
}

.btn-purple {
    background-color: #8075c4;
    border-color: #8075c4;
    color: #FFFFFF;
}

.btn-purple:hover {
    color: #fff;
    background-color: #6960A1;
    border-color: #6960A1;
}

// ==================mapping table styling=======================

.PL01,
.PL02,
.PL03,
.PL04,
.PL05 {
    display: none;
}

.highlight {
    background-color: #ff6c60;
}

// mapping2  MLO-Plo 
// for demo

// .mlo-plo {
//     // font-size:.9em;
// }
#MLOTable {
    font-size: .8rem;

    .thead {
        th {
            vertical-align: middle;
            background: rgba(65, 202, 192, 0.1411764705882353);
            color: #129ab0;
        }
    }

}

.mol-header {
    vertical-align: middle !important;

}

.info-cell {
    text-align: center;
}

.mlo-cell {
    text-align: left;
    font-size: .95em;
}

.btn-dropdown-cell {
    font-size: .8rem;
    margin-bottom: 0;
    text-align: left;

}

.tgc-label {
    display: none;
}

.plotext {
    display: none;
}

#table1 tr td,
#table2 tr td,
#table3 tr td {
    font-size: .7rem;
    vertical-align: middle;
    padding: 3;

}




// testing
#mlotgc1,
#mlotgc2,
#mlotgc3 {
    display: none;
}

// overwrite wrapper class for PLO -MODULE MAPPING 
.wrapper {
    .plo-mapping {
        padding: 80px 0 15px 0;
        max-width: 12250px;

    }
}



// maping table no 3
// PLO Module 
#tablePLOmap {
    .thead {
        th {
            text-align: center;
            vertical-align: middle;
            background: rgba(110, 14, 155, 0.47);
            color: #fff;
            border-color: #f5f5f5;

        }


    }

    tr {
        &.plo-numbers {
            color: #0a9db6;
            background: #bee5eb;
            text-align: center;
        }

        &.plo-tgc {
            background-color: #78CD51;
            border-color: #78CD51;
            color: #FFFFFF;
            text-align: center;
        }
        &.count-by-plo{
            background:#ffc107;
            color:#fff;
        }
        
    }

    td {
        padding: 5px;

        &.count-by-module{
              background: #ffc1075e;
            color: #453402;
        }
    }
}

.longtext {
    min-width: 140px;
}

.selectedtd {
    min-width: 60px;
    background-color: #8075c4;
    color: #fff;
}

.summary-tb {
    td {
        border-bottom: dashed 1px #17a2b826;
        padding: 5px !important;
        font-size: .85rem;

        &.field {
            color: #17a2b8;
        }

        &.text-field {
            color: rgba(0, 0, 0, 0.74);
            font-weight: 700;
            letter-spacing: normal;
        }


    }
}

.table-tb {
    border-bottom: dashed 1px #17a2b826 !important;
    padding: 10px !important;
    font-size: .85rem;

}

.light-column {
    background: #fff;
    text-align: right;
}



// cards color 
.card {
    .bg-1 {
        background: rgba(23, 162, 184, 0.08);

    }
    

}