	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/10/2019 00:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /* font-size: 20px; */
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-value:before { content: "\f100"; }
.flaticon-approve-invoice:before { content: "\f101"; }
.flaticon-reminder:before { content: "\f102"; }
.flaticon-implement:before { content: "\f103"; }
.flaticon-checklist:before { content: "\f104"; }
.flaticon-new-file:before { content: "\f105"; }
.flaticon-education:before { content: "\f106"; }
.flaticon-chemistry:before { content: "\f107"; }
.flaticon-house:before { content: "\f108"; }
.flaticon-online-class:before { content: "\f109"; }
.flaticon-test:before { content: "\f10a"; }
.flaticon-tablet:before { content: "\f10b"; }
.flaticon-mortarboard:before { content: "\f10c"; }
.flaticon-meeting:before { content: "\f10d"; }
.flaticon-student:before { content: "\f10e"; }
.flaticon-file:before { content: "\f10f"; }
.flaticon-kids-couple:before { content: "\f110"; }
.flaticon-books:before { content: "\f111"; }